@model Ecommerce.Application.DTOs.UpdateSupplierDTO

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Message != null)
{
    <p class="alert alert-success" role="alert">
        @ViewBag.Message
    </p>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Update Category</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.supplierId)

        <div class="form-group">
            <label>Supplier Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.supplierName, new { htmlAttributes = new { @class = "form-control", style = "width:25%" } })
                @Html.ValidationMessageFor(model => model.supplierName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label>Company Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.companyName, new { htmlAttributes = new { @class = "form-control", style = "width:25%" } })
                @Html.ValidationMessageFor(model => model.companyName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label>Contact Title</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.contactTitle, new { htmlAttributes = new { @class = "form-control", style = "width:25%" } })
                @Html.ValidationMessageFor(model => model.contactTitle, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label>Address</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", style = "width:25%" } })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", style = "width:25%" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label>Mobile No</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.mobileNo, new { htmlAttributes = new { @class = "form-control", style = "width:25%" } })
                @Html.ValidationMessageFor(model => model.mobileNo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label>Phone No</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.phoneNo, new { htmlAttributes = new { @class = "form-control", style = "width:25%" } })
                @Html.ValidationMessageFor(model => model.phoneNo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label>Fax</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fax, new { htmlAttributes = new { @class = "form-control", style = "width:25%" } })
                @Html.ValidationMessageFor(model => model.fax, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label>City</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control", style = "width:25%" } })
                @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label>Country</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control", style = "width:25%" } })
                @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label>Status</label>
            <div class="col-md-10">
                <input type="checkbox" id="isActive" name="isActive" value="true" @(Model.isActive ? "checked" : "")>
                <input name="isActive" type="hidden" value="false">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success btn-default" />
            </div>
        </div>
    </div>
}

<p>
    @Html.ActionLink("Back", "Index", "Supplier", "", new { @class = "btn btn-sm" })
</p>