@model IEnumerable<Ecommerce.Application.DTOs.SubCategoryViewModelDTO>

@{
    ViewBag.Title = "Index";
}

<p class="btn btn-sm">
    @Html.ActionLink("Add", "AddSubCategory", "SubCategory", "", new { @class = "btn btn-sm btn-primary" })
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Sub Category Name
            </th>
            <th>
                Category Name
            </th>
            <th>
                Description
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>    
                    @Html.DisplayFor(modelItem => item.subCategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.categoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isActive)
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateSubCategory", new { id = item.subCategoryId }, new { @class = "btn btn-sm btn-dark" })
                    @Html.ActionLink("Delete", "DeleteSubCategory", new { id = item.subCategoryId }, new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>